{% extends 'base.html.twig' %}

{% block title %}Index des Techniciens{% endblock %}

{% block body %}
    <h1>Index des Techniciens</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Matricule</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for technicien in techniciens %}
            <tr>
                <td>{{ technicien.id }}</td>
                <td>{{ technicien.nom }}</td>
                <td>{{ technicien.prenom }}</td>
                <td>{{ technicien.email }}</td>
                <td>{{ technicien.matricule }}</td>
                <td>
                        <a class="btn btn-sm btn-outline-info"
       href="{{ path('app_technicien_show', {'id': technicien.id}) }}">
        <i class="bi bi-eye"></i>
    </a>

    <a class="btn btn-sm btn-outline-warning"
       href="{{ path('app_technicien_edit', {'id': technicien.id}) }}">
        <i class="bi bi-pencil"></i>
    </a>

</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('app_technicien_new') }}">
    <i class="bi bi-plus-circle"></i> Ajouter un nouveau technicien
</a>
{% endblock %}
