{% extends 'base.html.twig' %}

{% block title %}Index des Stocks{% endblock %}

{% block body %}
    <h1>Index des Stocks</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Quantité</th>
                <th>Référence</th>
                <th>Prix unitaire</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.id }}</td>
                <td>{{ stock.type }}</td>
                <td>{{ stock.quantite }}</td>
                <td>{{ stock.reference }}</td>
                <td>{{ stock.prixUnitaire }}</td>
                <td>
                        <a class="btn btn-sm btn-outline-info"
       href="{{ path('app_stock_show', {'id': stock.id}) }}">
        <i class="bi bi-eye"></i>
    </a>

    <a class="btn btn-sm btn-outline-warning"
       href="{{ path('app_stock_edit', {'id': stock.id}) }}">
        <i class="bi bi-pencil"></i>
    </a>

</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('app_stock_new') }}">
    <i class="bi bi-plus-circle"></i> Ajouter du nouveau stock
</a>
{% endblock %}
